<div class="section">
    <div class="content">
        <p>Bonjour,</p>

        <p>Une demande de réservation a été faite.</p>

        <p>
            <ul>
                <li><b>Nom :</b> <%- contact.name %></li>
                <li><b>Email :</b><%- contact.email %></li>
                <li><b>Téléphone :</b><%- contact.phone %></li>
                <li><b>Chambre :</b><%- contact.room %></li>
                <li><b>Nombre de personnes :</b><%- contact.guestCount %></li>
                <li><b>Date d'arrivée :</b><%= helpers.dateToDDMMYYYY(contact.arrivalDate) %></li>
                <li><b>Date de départ :</b><%= helpers.dateToDDMMYYYY(contact.departureDate) %></li>
                <li><b>Précisions :</b><%- contact.content %></li>
            </ul>
        </p>

        <p>L'équipe technique du Chateau d'Amecourt.</p>
    </div>

    <div class="footer">RDV sur <a href="http://chateau-amecourt.com">chateau-amecourt.com</a> || Support technique sur <a href="mailto:tech@chateau-amecourt.com?Subject=Help%20again" target="_blank">tech@chateau-amecourt.com</a></div>
</div>